/* root */

:root[data-theme="light"] {
    /* HEX */
    --text-color: #20005a;
    --bg-color: #fdf3e7;
    --primary-color: #4712ab;
    --secondary-color: #fbe2c5;
    --accent-color: #fe9618;

    cursor: url('dot_cursor-light.png'), auto;
}
:root[data-theme="dark"] {
    /* HEX */
    --text-color: #f7f6fe;
    --bg-color: #010104;
    --primary-color: #4712ab;
    --secondary-color: #080425;
    --accent-color: #702edb;

    cursor: url('dot_cursor-dark.png'), auto;
}

:root {
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    color: var(--text-xolor);
}

@media (max-width: 50rem) {
    :root{
        font-size: 0.9rem;        
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* animations */

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* elements */

body {
    height: 100dvh;
    padding: 0;
    margin: 0;
    background: var(--bg-color);
    background: linear-gradient(45deg, var(--bg-color), rgba(0, 0, 0, 0.0)), url('/Faisal_img-01.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: fade_in 1.5s ease-in-out;
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 1);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 7px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

main {
    padding: 2.5%;
}

h1, h2, h3 {
    letter-spacing: -0.25px;
}