/* root */

:root[data-theme="light"] {
    --text-color: #0c0b19;
    --bg-color: #fdf3e7;
    --primary-color: #26255f;
    --secondary-color: #8180d1;
    --accent-color: #3e3cb4;

    --glow-color: #26255f07;

    color-scheme: light;
    cursor: url('/cursors/dot_cursor-light.png'), auto;
}
:root[data-theme="dark"] {
    --text-color: #fdf3e7;
    --bg-color: #0b0a1a;
    --primary-color: #a1a0da;
    --secondary-color: #2f2e7f;
    --accent-color: #4d4bc3;

    --glow-color: rgba(71, 18, 171, 0.75);

    color-scheme: dark;
    cursor: url('cursors/dot_cursor-dark.png'), auto;
}
:root[data-theme="darkness"] {
    --text-color: #f7f6fe;
    --bg-color: #000000;
    --primary-color: #4712ab;
    --secondary-color: #080425;
    --accent-color: #702edb;

    --glow-color: rgba(71, 18, 171, 0.75);

    color-scheme: dark;
    cursor: url('/cursors/dot_cursor-dark.png'), auto;
}

/* :root[data-theme="light-b&w"] {    
}
:root[data-theme="dark-b&w"] {    
} */


/* style for different screens */
/* [laptop] */
@media screen and (min-width: 1025px){
    /* default */
}
/* [ipad] */
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    :root{
        font-size: 0.95rem;        
    }
}
/* [phone] */
@media screen and (max-width: 767px){
    :root{
        font-size: 0.85rem;        
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* animations */

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes typing_animmation {
    0% {
        width: 0;
    }
    35% {
        width: 100%;
    }
    75% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
@keyframes cursor_blink {
    50% {
        border-color: transparent;
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* elements */


* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: solid 1px red; */
}

:root {
    display: none; /* to prevent unstyled HTML flashing */
    box-sizing: border-box;
}


body {
    box-sizing: border-box;
    min-height: 100dvh;
    background-color: var(--bg-color);
    animation: fade_in 1s ease-in;

    display: flex;
    place-content: center;
    place-items: center;
}

main {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

h1, h2, h3 {
    letter-spacing: -0.25px;
}

h1.fancy{
    color: transparent;
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    -webkit-text-stroke: 0.15rem var(--text-color);
    overflow: visible;
}
h1.typing_animation {
    display: inline-block;
    border-right: solid 1px var(--text-color); 
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing_animmation 5s steps(15), cursor_blink .4s step-end infinite alternate-reverse;
    animation-iteration-count: infinite;
}
.glow {
    text-shadow: 0 0 5px var(--glow-color), 
                 0 0 10px var(--glow-color), 
                 0 0 15px var(--glow-color);
}


.btn {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    text-transform: uppercase;
}  
.btn.primary {
    background-color: var(--primary-color);
    border: solid 3px var(--primary-color);
    color: var(--bg-color);
}
.btn.secondary {
    background-color: transparent;
    border: solid 3px var(--primary-color);
    color: var(--primary-color);
}

.btn:hover {
    transform: scale(0.975);
}