:root {
    --clr-snow: #fffafa;  
    --clr-antiflash: #fafafa; 
    --clr-ivory: #fffff0; 
    --clr-boneWhite: #f9f6ee; 

/* 
    --clr-success: #12ab12;
    --clr-warning: #abab12;
    --clr-error: #ab1212;
    --clr-success-content: #c3f9c3;
    --clr-warning-content: #000000;
    --clr-error-content: #f9c3c3;
  */
    --clr-success: #00ff00;
    --clr-warning: #ffff00;
    --clr-error: #ff0000;
    --clr-success-content: #000000;
    --clr-warning-content: #000000;
    --clr-error-content: #ffffff;
}

/* root */

:root[data-theme="light"] {
    --clr-text: #0c0b19;
    --clr-text-02: #6e778b;

    --clr-bg: #fdf3e7;

    --clr-primary: #26255f;
    --clr-secondary: #8180d1;
    --clr-accent: #3e3cb4;

    --clr-glow: var(--clr-secondary);

    color-scheme: light;
    cursor: url('/cursors/dot_cursor-light.png'), auto;
}

/* :root[data-theme="light"] {
    --clr-primary: #4712ab;
    --clr-primary-content: #d6c3f9;
    --clr-primary-dark: #340d7d;
    --clr-primary-light: #5a17d9;
    
    --clr-secondary: #12ab93;
    --clr-secondary-content: #c3f9f0;
    --clr-secondary-dark: #0d7d6b;
    --clr-secondary-light: #17d9bb;

    --clr-bg: #efeff1;
    --clr-fg: #fbfbfb;
    --clr-border: #dedde2;

    --clr-text: #252329;
    --clr-text-light: #645e6e;
    --clr-text-lighter: #8a8495;

    --clr-glow: var(--clr-primary);

    color-scheme: light;
    cursor: url('/cursors/dot_cursor-light.png'), auto;
} 
*/
 
:root[data-theme="dark"] {
    --clr-text: #fdf3e7;
    --clr-text-02: #6e778b;

    --clr-bg: #0a0d14;

    --clr-primary: #4712ab;
    --clr-secondary: #2f2e7f;
    --clr-accent: #4d4bc3;

    --clr-glow: var(--clr-primary);
    
    color-scheme: dark;
    cursor: url('cursors/dot_cursor-dark.png'), auto;
}

/* :root[data-theme="dark"] {
    --clr-primary: #4712ab;
    --clr-primary-content: #d6c3f9;
    --clr-primary-dark: #340d7d;
    --clr-primary-light: #5a17d9;

    --clr-secondary: #12ab93;
    --clr-secondary-content: #c3f9f0;
    --clr-secondary-dark: #0d7d6b;
    --clr-secondary-light: #17d9bb;

    --clr-bg: #19181b;
    --clr-fg: #252329;
    --clr-border: #3e3b45;

    --clr-text: #fbfbfb;
    --clr-text-light: #d8d6dc;
    --clr-text-lighter: #a49fac;

    --clr-glow: var(--clr-primary);
    
    color-scheme: dark;
    cursor: url('cursors/dot_cursor-dark.png'), auto;
} */

:root[data-theme="darkness"] {
    --clr-primary: #4712ab;
    --clr-primary-content: #d6c3f9;
    --clr-primary-dark: #340d7d;
    --clr-primary-light: #5a17d9;

    --clr-bg: #000000;
    --clr-fg: #252329;
    --clr-border: var(--clr-peimary);

    --clr-text: #fbfbfb;
    --clr-text-light: #d8d6dc;
    --clr-text-lighter: #a49fac;

    --clr-glow: var(--clr-primary);
    
    color-scheme: dark;
    cursor: url('cursors/dot_cursor-dark.png'), auto;
}

:root[data-theme="dark-green"]{
    --clr-primary: #00ff36;
    --clr-primary-content: #000000;
    --clr-primary-dark: #00cc2b;
    --clr-primary-light: #33ff5e;

    --clr-secondary: #0049ff;
    --clr-secondary-content: #ffffff;
    --clr-secondary-dark: #003acc;
    --clr-secondary-light: #336dff;

    --clr-bg: #181b18;
    --clr-fg: #232925;
    --clr-border: #3b453d;

    --clr-text: #fbfbfb;
    --clr-text-light: #d6dcd7;
    --clr-text-lighter: #9faca2;

    --clr-glow: var(--clr-primary-dark);

    --clr-select: rgba(0, 255, 54,.25);
    
    color-scheme: dark;
}



/* :root[data-theme="light-b&w"] {    
}
:root[data-theme="dark-b&w"] {    
} */


/* style for different screens */
/* [laptop] */
@media screen and (min-width: 1025px){
    /* default */
}
/* [ipad] */
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    :root{
        font-size: 0.95rem;        
    }
}
/* [phone] */
@media screen and (max-width: 767px){
    :root{
        font-size: 0.85rem;        
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* animations */

@keyframes slide_in {
    to {
        transform: translatey(0);
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes cursor_blink {
    50% {
        border-right-color: transparent;
    }
}

/* scroll animations */
@keyframes fade_from_down_scoll {
    0% {
        opacity: 0;
    }
    7% {
        opacity: 0;
    }
}

@keyframes hide_scrollbar {
    from {
        overflow: hidden;
    }
    to {
        overflow: auto;
    }
}
/* 
animation: scrollAnimation linear forwards;
animation-timeline: view();
animation-range: entry(); 
*/

@keyframes main_img_animation {
    0% {
        transform: scale(.95);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: scale(.95)
    }
}

/* JUST RANDOM VALUES HERE! */
@keyframes glitch {
    3% {
        text-shadow: 7px 7px 0px red;
    }
    6% {
        text-shadow: -9px 4px 0px blue;
        transform: translate(4px, -10px) skewX(3240deg);
    }
    7% {
        text-shadow: 3px -4px 0px green;
    }
    9% {
        text-shadow: 0px 0px 3px white;
        transform: translate(0px, 0px) skewX(0deg);
    }
    2%,
    54% {
        transform: translateX(0px) skew(0deg);
    }
    55% {
        transform: translate(-2px, 6px) skew(-5530deg);
    }
    56% {
        text-shadow: 0px 0px 3px white;
        transform: translate(0px, 0px) skew(0deg);
    }
    57% {
        text-shadow: 7px 7px 0px red;
        transform: translate(4px, -10px) skew(-70deg);
    }
    58% {
        text-shadow: 0px 0px 3px white;
        transform: translate(0px, 0px) skew(0deg);
    }
    62% {
        text-shadow: 3px -4px 0px green;
        transform: translate(0px, 20px) skew(0deg);
    }
    63% {
        text-shadow: 0px 0px 3px white;
        transform: translate(4px, -2px) skew(0deg);
    }
    64% {
        transform: translate(1px, 3px);
        transform: skew(-230deg);
    }        
    65% {
        transform: translate(-7px, 2px);
        transform: skew(120deg);
    }        
    66% {
        transform: translate(0px, 0px) skew(0deg);
    }        
}



/* ---------------------------------------------------------------------------------------------------------------- */
/* elements */

*::-webkit-scrollbar {
    width: 5px; 
    height: 5px;
}
  /* Customize the scrollbar handle */
*::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary); /* Set the color of the scrollbar handle */
    border-radius: 55px; /* Set the radius of the scrollbar handle */
}
/* Customize the scrollbar track when the handle is being dragged */
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-primary-dark);
}
/* Customize the scrollbar track background */
*::-webkit-scrollbar-track {
    background-color: var(--clr-text-02);
}
/* Customize the scrollbar corner (not supported in Firefox) */
*::-webkit-scrollbar-corner {
    background-color: var(--clr-text-02);
}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    /* border: solid 1px red; */
}

* {
    font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    min-width: 100%;
    max-width: 100vw;
    position: fixed;
}

body {
    min-width: 100%;
    min-height: 100svh;
    background-color: var(--clr-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    /* justify-content: center; */
    /* place-items: center center; */
    /* text-align: center; */
    /* align-items: center; */
    animation: fade_in 1s ease-in;
    animation: hide_scrollbar 5s forwards;
}

main {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-width: 100%;
    max-width: 100vw;
}

h1, h2, h3 {
    letter-spacing: -0.25px;
}

h1.fancy{
    color: transparent;
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    -webkit-text-stroke: 0.15rem var(--clr-text);
    overflow: visible;
}

.text_glow {
    text-shadow: 0 0 10px var(--clr-glow), 
                 0 0 20px var(--clr-glow), 
                 0 0 30px var(--clr-glow);
}

.object_glow {
    filter: drop-shadow(0 0 50px var(--clr-glow));
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    outline: transparent;
}  
.btn:hover {
    transform: scale(0.975);
}
.btn.primary {
    background-color: var(--clr-primary);
    border: solid 3px var(--clr-primary);
    color: var(--clr-bg);
}
.btn.secondary {
    background-color: transparent;
    border: solid 3px var(--clr-primary);
    color: var(--clr-primary);
}

.btn.succes {
    background-color: var(--clr-success);
    color: var(--clr-success-content);
    border: none;
}
.btn.warning {
    background-color: var(--clr-warning);
    color: var(--clr-warning-content);
    border: none;
}
.btn.error {
    background-color: var(--clr-error);
    color: var(--clr-error-content);
    border: none;
}

.cursor_blink {
    border-right: solid 3px var(--clr-primary-light);
    animation: cursor_blink 1s ease-out infinite;
}


